body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  
  #chart1 {
    width:100%;
    height: 500px;
  }
  #chart2 {
    width:100%;
    height: 500px;
  }
  .titulo{
    text-align: center;
  }
<<<<<<< HEAD
  .formato{
  padding: 80px 100px 80px 350px;
=======

  #chartdiv {
    width:100%;
    height: 500px;
  }
  #chartdiv2 {
    width:100%;
    height: 500px;
>>>>>>> 59bd3354e951f196af7c0e6917f24e8873d205d1
  }