body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  
  #chart1 {
    width:100%;
    height: 500px;
  }
  #chart2 {
    width:100%;
    height: 500px;
  }
  .titulo{
    text-align: center;
  }

  #chartdiv {
    width:100%;
    height: 500px;
  }
  #chartdiv2 {
    width:100%;
    height: 500px;
  }

  .formato{
    padding: 80px 100px 80px 350px;
  }